<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
            id="Conversionbug_Adminmenu::track_order" 
            title="Track Order" 
            module="Conversionbug_Adminmenu" 
            sortOrder="100" 
            resource="Conversionbug_Adminmenu::track_order"
        />
        <add 
            id="Conversionbug_Adminmenu::track_all_order" 
            title="Track all orders" 
            module="Conversionbug_Adminmenu" 
            sortOrder="20" 
            action="track/order/all" 
            resource="Conversionbug_Adminmenu::track_customer_order" 
            parent="Conversionbug_Adminmenu::track_order"
        />
        <add 
            id="Conversionbug_Adminmenu::track_dispatched_order" 
            title="Track dispached order" 
            module="Conversionbug_Adminmenu" 
            sortOrder="30" 
            action="track/order/dispatched" 
            resource="Conversionbug_Adminmenu::track_dispatched_order" 
            parent="Conversionbug_Adminmenu::track_order"
        />
        <add 
            id="Conversionbug_Adminmenu::track_cancelled_order" 
            title="Track cancelled order" 
            module="Conversionbug_Adminmenu" 
            sortOrder="40" 
            action="track/order/cancelled" 
            resource="Conversionbug_Adminmenu::track_cancelled_order" 
            parent="Conversionbug_Adminmenu::track_order"
        />
        <add 
            id="Conversionbug_Adminmenu::track_returned_order" 
            title="Track returned order" 
            module="Conversionbug_Adminmenu" 
            sortOrder="99" 
            action="track/order/returned" 
            resource="Conversionbug_Adminmenu::track_returned_order" 
            parent="Conversionbug_Adminmenu::track_order" 
        />
    </menu>
</config>
